main{
    border : 2px solid #FF0000 ;
    height: 630px;
    width: 1200px;
    margin: auto;
}

header {
    border : 2px solid #00ff00 ;
    height: 100px;
    text-align: center;
}
nav {
    border: 2px solid #00ffff;
    height: 80px;
    margin: 5px  0px  5px 0px;
}
section {
    border: 2px solid #0000ff;
    height: 355px; 
}
footer {
    border: 2px solid #000000;
    height: 80px; 
}
aside{
    border: 2px solid #00ffff;
    height: 337px;
    width: 400px;
    float: left;
} 
article {
    border: 2px solid #ffff00;
    height: 110px;
    width: 770px ;
    float: right;
}
ul li {
    display: inline-block;
    border: 2px solid #f0f;
    width: 100px;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
header img {
    
    height: 70px;
    width: 90px;
}